.form-control{
	width: 150px;
	height: 28px;
	padding: 0px 0px;
}

.tableShowListDiv{
	margin-top: 10px;
	padding-bottom: 10px;
}
 
.leftFont{
	font-size: 14px;
	font-family: inherit;
	font-weight:bold;
	margin-left: 20px
}
.firstFont{
	font-size: 14px;
	font-family: inherit;
	font-weight:bold;
}

  [class*="col-"]{
        padding-left: 0px;
        padding-right: 0px;
    }
 .panel{
     margin-bottom: 0px;
 }
.accordion-toggle{
    font-size: 16px;
}
hr{
	border-width: 2px 0px 0px;
	margin-bottom:0px;
	margin-top: 10px
}
.searchInfoDiv{
	margin-left: 30px;
/* 	margin-top: 10px; */
}
#tableShowList,#realTimeMonitorTable,#workerGroupAddWorkerShowTable{
	margin-top: -41px !important
}
.tableTitle{
	margin-bottom: 5px
}
.functionBut{
	height:40px;
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
	background: ;
}
 .table > thead > tr > th, 
 .table > tbody > tr > th, 
 .table > tfoot > tr > th, 
 .table > thead > tr > td, 
 .table > tbody > tr > td, 
 .table > tfoot > tr > td{
/*     line-height: 0.429 */
 }
 table {
	line-height: 2.4;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
	padding: 0px
}
.titleImage{
height: 100px; background-size: 100% 100%;
}

.showRolesTable,.showDomainTable,.choeseArea{
   border:1px solid #ccc;
   width: 96%;
   overflow: auto;
}
.starColor{
	color: red;
}
.accordion-toggle{
	color: white;
}
.row {
  margin-right: 0px;
/*   margin-left: 0px; */
}

.nav > li > a{
	padding: 6px
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	line-height: 1.1
}
 

#showRightArea{
/* 	overflow: auto; */
	height: 100%
}

.customerServiceFinish,.customerServiceUnfinish,.repairsFinish,.repairsUnfinish,.repairsFinishing{
	color: red;
	cursor: pointer;
	font-weight: bold;
}

.leftFont{
	margin-left: 20px
}
