body {
  font-family: '微软雅黑';
    overflow: scroll;
}
h1 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: '微软雅黑';
}
h3,h4 {
  color: #d2d2d2;
  font-family: '微软雅黑',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 .view_github {
  display: block;
  font-size:  14px;
  line-height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius:0;

}
h1 .view_github:hover,h1 .view_code:hover {
  background-color: #f5f5f5;
}

h1 .view_code {
    display: block;
    font-size:  14px;
    line-height: 30px;
    position: absolute;
    right: 225px;
    bottom: 0;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    border-radius:0;
    height: 45px;
}
.col-md-12.no-padding {
    padding-left:0;
    padding-right:0;
}
.info {
  position: relative;
    height: 100%;
}
tr .progress{
  width: 96%;
  display: inline-block;
}
tr .progress-bar {
    min-height: 20px;
    float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
    position: absolute;
    left: 24px;
    top: 0;
}
tr .progressCancel{
  display: inline-block;
  float: right;
  position: relative;
  z-index: 100;
  color: #333;
  text-decoration: none;
}
.status {
  position: absolute;
  width: 100%;
  top:0;
  left: 24px;
}
.tip {
  padding-left: 30px;
}
.tip p {
  line-height: 1;
}
#container {
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  cursor: default;
}
#container:hover,#container:active  {
  background-color:#fff;
  border-color: #dcdcdc;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
  line-height: 30px;
  height: 30px;
  margin:20px 0 0 0;
}
#success div {
    padding-left: 24px;
}
#container a {
  width: 15%;
  min-width: 145px;


}

button {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
td .Wrapper {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
td .Wrapper .infoWrapper{
  width:50%;
  height:100px;
  margin-left: 10px;
  text-align: left;
  line-height: 25px;
}
td .Wrapper .infoWrapper a:first-child{
  margin-right: 10px;
}
td .Wrapper.default {
  margin-top: 20px;
  text-align: left;
}
td .Wrapper.default img{
  width:100px;
  height:100px;
}
td .imgWrapper {
  position: relative;
  width:100px;
  height: 100px;
}
td .imgWrapper .linkWrapper {
    position: absolute;
    left: 15px;
    top: 0;
    width:100px;
    height: 100px;
    cursor: pointer;
}
td .imgWrapper .linkWrapper a{
    line-height: 50px;

}
table td .hash {
    margin-bottom: 20px;
}
pre  {
    margin-top: 20px;
}

.container .modal-dialog {
    width: 45%;
}
.container .modal-dialog .modal-content {
     max-height: 90%;
}
.container .modal-dialog  .modal-body img{
    max-width: 95%;
    max-height: 70%;
}
.container .modal-body-footer , .container .modal-body-footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .modal-dialog .modal-body-footer  {
  margin-top: 0px;
}
.container .modal-dialog .modal-body-footer span {
  margin-right: 20px;
}
.container .modal-dialog .modal-body-footer .text-warning,.container .modal-dialog .modal-footer span ,.container .modal-dialog .modal-footer a{
  font-size: 12px;
}
.body .btn-default {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default:hover,.body .btn-default:active,.body .btn-default:focus ,.no-padding button:hover,.no-padding button:active,.no-padding button:focus{
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
    -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

a {
    cursor: pointer;
}

/*改版添加 2017-1-03*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
body,button,input,select,textarea{font:13px/1.125 "Microsoft Yahei",Arial,Helvetica,sans-serif; color: #333;}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:13px/1.125 "Microsoft Yahei",Arial,Helvetica,sans-serif;min-height:100%;background: #e8e8e8;}
a{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}

.wrap{
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
.f-main .header{
    height: 48px;
    background: rgb(51, 51, 51);
    color: #fff;
    line-height: 48px;
    font-size: 14px;
    text-indent: 20px;
    min-width: 1280px;
    text-align: center;
}
.f-main .header i{
    width: 30px;
    height: 30px;
    background: url(/imgs/logoA.png);
    float: left;
    margin: 8px;
}
.f-main .header h1{
    line-height: 48px;
    font-size: 18px;
    float: left;
}
.f-main .header .btnBox{
  float: right;
}
.f-main .header .welcome{
  color: #dedede;
  float: right;
  margin-right: 50px;
}
.f-main .header a{
  color: #dedede;
  display: inline-block;
  margin-right: 50px;
  text-indent: 5px;
}
.f-main .header a:hover{
  color: #fff;
  text-decoration: none;
}
.f-main .header a i{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 13px 0;
}
.f-main .header .goHome i{
  background: url(/imgs/fanhuishouye.png);
  background-size: 20px 20px;
}
.f-main .header .goExit i{
  background: url(/imgs/anquantuishu.png);
  background-size: 20px 20px;
}
.f-main .panel-group .panel-heading{
  padding: 0;
  height: 46px;
  line-height: 46px;
  background: #F5F5F5;
  cursor: pointer;
  border-radius: 0;
  width: 249px;
  border-right: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
}
.f-main .panel-group .panel-heading.cur{
  background: #DEDEDE;
}
.f-main .panel-group .panel-heading:hover,.f-main .panel-body li a:hover,.f-main .panel-body li a.cur{
  background: #DEDEDE;
}
.f-main .panel-group .panel-heading.current{
  /*background: #0076FF;*/
  background: url(/imgs/xuanzhong.png);
  border: 0;
}
.f-main .panel-group .panel-heading.current .accordion-toggle{
    color: #fff;
}
.f-main .panel-group .panel{
    border-top: 1px solid #c7c7c7;
    border-bottom: 0;
    border-right: 0;
    margin-top: 0;
    border-radius: 0;
    width: 250px;
    background-color: transparent;
    border-top: 0;
}
.f-main .panel-group {
    z-index: 1;
    position: absolute;
}
.f-main .panel-collapse{
   width: 249px;
  border-right: 1px solid #c7c7c7;
    background-color: transparent;
    overflow: hidden;
}
.f-main .panel .accordion-toggle{
  color: #676767;
  text-decoration: none;
}
.f-main .panel i.icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(/imgs/jiantou1.png);
    float: right;
    margin: 10px 20px 0 0;
    background-size: 26px 26px;
    transition: all .1s;
}
.f-main .panel .cur i.icon{
 transform: rotate(-90deg);
}
.f-main .glyphicon{
    width: 26px;
    height: 26px;
    color: #417ccc;
    margin: 0 10px 0 10px;
    margin-top: 10px;
    float: left;
}
.f-navList{
  /*background-color: #F5F5F5;*/
  min-height: 860px;
  overflow: auto;
  z-index: 1000;
  /*border-right: 1px solid #c7c7c7;*/
  position: absolute;
  bottom: 0;
  top: 48px;
  width: 260px;
  overflow: hidden;
}
.f-main.toggle .f-navList{
  width: 46px;
}

.f-main .panel-body{
    padding: 0;
}
.f-main .panel-body li a{
  color: #676767;
  height: 40px;
  line-height: 30px;
  padding-left: 46px;
  background: #f5f5f5;
  font-size: 14px;
}
.f-main .f-article .treeDiv .panel-body li a{
  line-height: 36px;
  padding-left: 0;
}
.f-article .col-md-2.treeDiv{
  padding-top: 0!important;
}
/*//right*/
#showRightArea{
    position: relative;
    left: 5px;
    right: 260px;
    /* bottom: 0; */
    top: 15px;
    /* width: auto; */
    float: left;
}
.f-main .col-md-10{
  /*right: 72px;*/
}
#tableShowListDiv{
  min-width: 1020px;
}
.f-main.toggle #tableShowListDiv{
  min-width: 1180px;
}
.f-article{
    margin-left: auto;
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 265px;
    right: 0;
    width: auto;
}
.f-article{
   /* position: relative;
    top: 0px;*/
}

.f-main.toggle .f-article{
  left: 56px;
}
.f-main .list-unstyled{

}
.f-main .list-unstyled h4{
  font-size: 18px;
  line-height: 35px;
}
.f-main .list-unstyled h5{
  font-size: 16px;
  line-height: 30px;
}
.f-main .panel-group .toggleBox{
    padding: 0;
    height: 50px;
    background: #F5F5F5;
    overflow: hidden;
    width: 249px;
}
.f-main .panel-group .toggleTag{
    height: 30px;
    width: 30px;
    background: url(/imgs/heqi.png);
    background-size: 30px 30px;
    margin: 10px 8px;
    float: right;
    cursor: pointer;

}
.f-main .fixed-table-container{
  /*min-height: 550px!important;*/
  height: auto!important;
  /*max-height: 800px!important;*/
}
.f-article .col-md-2{
  top: 50px;
  width: 16.66666667%;
  float: left;
}
.f-article .col-md-10 {
  float: left;
  width: 83.33333333%;

}
/*.f-article .col-md-10{
  position: absolute;
  left: 16.666666%;
}*/

.treeDiv .panel-body{
  background: #f5f5f5;
}
.f-main .tableTitle{
  margin-bottom: 5px;
}
.f-main .nav-stacked > li + li{
  margin-top: 0;
}
.f-main .nav-pills > li > a{
  border-radius: 0;
}
.f-main .panel-primary > .panel-heading + .panel-collapse .panel-body{
  border-top-color: #cdcdcd;
}
/*.f-article .col-md-2.treeDiv,.f-article .col-md-2.treeDiv .panel-body{
  position: absolute;
  bottom: 0;
  top: 0;
}*/
.f-article .col-md-2.treeDiv .panel-body{
    height: auto!important;
    max-height: 1000px;
    min-height: 700px;
}
/*.rightLine-i{
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background: #c7c7c7;
    right: 9px;
    z-index: 1;
}*/

.jjjj{
  position: absolute;width: 17px;height: 26px;background: url(/imgs/Triangle.png);background-size: 100%;display: none;top: 10px;right: 0;
  z-index: 1;
}
.rightLine-i{
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #c7c7c7;
}
.f-main.toggle .rightLine-i{
  right: 0px;
  z-index: 111;
}




/*sprite图片处理*/
.Item-icon {
    background-image: url(/imgs/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 839px 26px;
}

.Item-icon-anfang1 {
    width: 26px;
    height: 26px;
    background-position: 0 0;
}

.current .Item-icon-anfang1 {
    width: 26px;
    height: 26px;
    background-position: -33px 0;
}

.Item-icon-banbeng1 {
    width: 26px;
    height: 26px;
    background-position: -65px 0;
}

.current .Item-icon-banbeng1 {
    width: 26px;
    height: 26px;
    background-position: -100px 0;
}

.Item-icon-fangchan1 {
    width: 26px;
    height: 26px;
    background-position: -130px 0;
}

.current .Item-icon-fangchan1 {
    width: 26px;
    height: 26px;
    background-position: -163px 0;
}
/*//7*/
.Item-icon-mengjing1 {
    width: 26px;
    height: 26px;
    background-position: -195px 0;
}

.current .Item-icon-mengjing1 {
    width: 26px;
    height: 26px;
    background-position: -227px 0;
}

.Item-icon-quanxian1 {
    width: 26px;
    height: 26px;
    background-position: -260px 0;
}

.current .Item-icon-quanxian1 {
    width: 26px;
    height: 26px;
    background-position: -293px 0;
}

.Item-icon-shebei1 {
    width: 26px;
    height: 26px;
    background-position: -325px 0;
}

.current .Item-icon-shebei1 {
    width: 26px;
    height: 26px;
    background-position: -358px 0;
}

.Item-icon-wuye1 {
    width: 26px;
    height: 26px;
    background-position: -390px 0;
}

.current .Item-icon-wuye1 {
    width: 26px;
    height: 26px;
    background-position: -423px 0;
}

.Item-icon-xinxi1 {
    width: 26px;
    height: 26px;
    background-position: -454px 0;
}

.current .Item-icon-xinxi1 {
    width: 26px;
    height: 26px;
    background-position: -488px 0;
}

.Item-icon-xitong1 {
    width: 26px;
    height: 26px;
    background-position: -520px 0;
}

.current .Item-icon-xitong1 {
    width: 26px;
    height: 26px;
    background-position: -553px 0;
}

.Item-icon-yunyin1 {
    width: 26px;
    height: 26px;
    background-position: -585px 0;
}

.current .Item-icon-yunyin1 {
    width: 26px;
    height: 26px;
    background-position: -618px 0;
}

.Item-icon-zhanghao1 {
    width: 26px;
    height: 26px;
    background-position: -650px 0;
}

.current .Item-icon-zhanghao1 {
    width: 26px;
    height: 26px;
    background-position: -683px 0;
}

.Item-icon-zhuhu1 {
    width: 26px;
    height: 26px;
    background-position: -714px 0;
}

.current .Item-icon-zhuhu1 {
    width: 26px;
    height: 26px;
    background-position: -748px 0;
}
.Item-icon-zzanquan1 {
    width: 26px;
    height: 26px;
    background-position: -779px 0;
}

.current .Item-icon-zzanquan1 {
    width: 26px;
    height: 26px;
    background-position: -816px 0;
}
